---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Nelson Ng. <a href="https://github.com/cassidoo/blahg">Template from Cassidoo</a>! <3
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
		font-size: 0.8rem;
	}
</style>
